@using BLL.Models
@model List<ProductModel>

@{
    ViewBag.Title = "ListProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2> Products </h2>

<table class="table table-bordered table-hover" ?>

    <tr>
        <th>ID</th>
        <th>Monitors</th>
        <th>SuplierID</th>
        <th>Unitprice</th>
        <th>Amount</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.ProductName</td>
            <td>@item.SuplierID</td>
            <td>@item.UnitPrice</td>
            <td>@item.Amount</td>
        </tr>
    }


</table>

